/* html, body {
  height: 100%;
  width: 100%;
} */
.round {
  border-radius: 50%;
  border: 1px solid red;
  background-color: rgb(68, 245, 245);
  margin: 20px;
}
.numRound {
  border-radius: 50%;
  border: 1px solid red;
  background-color: rgb(218, 245, 142);  
}
.angle {
  border-radius: 50px;
  border: 1px solid rgb(255, 255, 255);
  background-color: rgb(10, 10, 10);
  /* transform-origin: center center; */
}